* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

.content {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 45%;
    background-color: black;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 10px;
}

.nav a {
    text-decoration: none;
    color: orange;
    font-size: 36px;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 4px;
}

.nav a:hover {
    text-shadow: 5px 5px rgba(247, 3, 3, 0.2);
    border: 2px solid orange;
}

.title {
    text-align: center;
    font-size: 48px;
    text-shadow: 5px 5px teal;
}

.nav a,
.title {
    text-transform: uppercase;
}

.sign-up,
.sign-in {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgba(64, 66, 66, 0.5);
    width: 400px;
    padding: 40px;
    border-radius: 20px;
}

.sign-up__title,
.sign-in__title {
    margin-bottom: 15px;
    font-size: 22px;
}

.sign-up__login,
.sign-up__pass,
.sign-in__login,
.sign-in__pass,
.sign-up__description,
.sign-up__age,
.sign-up__address,
.sign-up__nickname {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 3px solid orange;
}

.sign-up__login:hover,
.sign-up__pass:hover,
.sign-in__login:hover,
.sign-in__pass:hover,
.sign-up__description:hover,
.sign-up__age:hover,
.sign-up__address:hover,
.sign-up__nickname:hover {
    border: 3px solid blue;
    box-shadow: 4px 4px 4px 4px rgba(236, 183, 9, 0.363);
}

.sign-up__description {
    outline: none;
    resize: none;
    overflow: auto;
    height: 100px;
}

.sign-up-buttons, 
.sign-in-buttons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.sign-up__button,
.sign-in__button {
    padding: 15px;
    border: solid 1px orange;
    border-radius: 5px;
    background-color: transparent;
    color: orange;
    transition: 0.3s;
}

.sign-up__button:hover,
.sign-in__button:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}